server:
  port:

spring:
  application:
    name:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://URL:5432/DatabaseName
    username: postgres.usernamecode
    password:

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    generate-ddl: true